body{

margin:0;
font-family:Arial, Helvetica, sans-serif;
background:linear-gradient(135deg,#1e3c72,#2a5298);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;

}

.container{

background:#fff;
width:95%;
max-width:430px;
padding:25px;
border-radius:15px;
box-shadow:0 15px 30px rgba(0,0,0,0.3);
text-align:center;

}

h1{
color:#1e3c72;
}

h2{
margin-top:25px;
color:#2a5298;
}

input{

width:100%;
padding:10px;
margin:6px 0;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;

}

button{

width:100%;
padding:12px;
margin-top:6px;
border:none;
border-radius:8px;
background:#1e3c72;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{
background:#2a5298;
}

.resultado{

margin-top:10px;
padding:10px;
background:#f2f2f2;
border-radius:8px;
font-weight:bold;

}

#historico{

margin-top:15px;
background:#fafafa;
padding:10px;
border-radius:8px;
max-height:150px;
overflow:auto;
font-size:14px;
text-align:left;

}

footer{

margin-top:20px;
font-size:12px;
color:#777;

}

